/vendor
/.bundle/
/.yardoc
/Gemfile.lock
/gems.locked
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
Gemfile.lock
gems.locked
.bundle
.DS_Store

test/dest
.bridgetown-metadata
.bridgetown-cache
.bridgetown-webpack
